
*{
	box-sizing: border-box;
}
body{
	background: blue;
	font-size: 21 \px;
	font-family: 'Pacifico', cursive;
	background: url('image-silk.jpg') 50%;
	background-attachment: fixed;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.9;
	
}

	



img{
	max-width: 100%;
}

.container{
	    width: 600px;
    background-color: yellow;

    padding: 15px;
    border: 20px dashed red;
    border-right: 15 px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin: 100px auto;
    position: relative;
    overflow: hidden;


}
a{
	color:red;
	text-decoration: none;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
a:hover{
	font-style: italic;
	list-style-type: none;
    padding left: 0;
    background:#ffffff;
};

ul{
	list-style-type: none;
	padding-left: 0;
}

li{
	margin-bottom: 1em;
}
#table-of-contents li{
	margin-bottom: 0;
}
h1{
	margin-top: 0;
}









