
*{
	box-sizing: border-box;
	text-decoration: none;
  
}

body{
  background-color: black;
}







.column{
	color: white;
	background-color: white;
  opacity: 1.2;
/*background: rgba(225,225,225,1.5);*/
    padding: 5px 10px 10px 10px;
    opacity: 30%;
    width: 85px;
    float: left;
    margin-right: 10px;
    font-family: cursive;
    text-decoration: none;
color: white;
       	background-color:none;
       	margin:10px; 
       	width: 168px;
       	height: 200px;
       
     
   
	
}
.column a:hover{
	color: black;
	
}


	
















