
		.body{
			margin:auto 0;
			width: 1000;
		}

		.text1{
			background:orange;
			width: 70px;
			height: 30px;
			font-style
font-weight:border;
font-size:100px;
font-family:gothic;
text-align:center;
line-height:-100.5em;
letter-spacing:0.2;
text-transform:uppercase;
position: relative;
margin-top: 500px;
		}
		.text2{
			background:orange;
			width: 700px;
			height: 27px;
			margin-top: 0px;
			margin-left: 220px;
			margin-top: -30px;
			position: relative;
			font-style
font-weight:bold;
font-size:200px;
font-family:gothic;
text-align:right;
line-height:-100.5em;
letter-spacing:0.3;
text-transform:uppercase;
margin-top: 800px;

		}
		.text3{
			
			width: 70px;
			height: 27px;
			position: relative;
			margin-left: 220px;
			display: block;
			position: inline;

font-size:300px;
font-family:gothic;
text-align:left;
line-height:-100.5em;
letter-spacing:0.4;
text-transform:lowercase;
margin-top: 100px;

		}

		.text4{
			
			width: 700px;
			height: 27px;
		float: right;
			margin-top: -25px;
			margin-left: 220px;
			position:absolute;
font-weight:lighter;
font-size:400px;
font-family:gothic;
text-align:center;
line-height:-100.5em;
letter-spacing:0.5;
text-transform:uppercase;
position: relative;
margin-top: 1200px;
		}

		.text5{
			
			width: 70px;
			height: 27px;
		float: right;
			margin-top: -25px;
			margin-left: 220px;
			position:absolute;
font-weight:lighter;
font-size:400px;
font-family:gothic;
text-align:center;
line-height:-200.5em;
letter-spacing:0.5;
text-transform:uppercase;
position: relative;
z-index: 1;
margin-top: 30px;
		}


	
















