
		.body{
			margin:auto 0;
			
			height: 200px;
			
			font-size: 500px;
			background-color: black;
			color: white;


position: relative;

		}
		.border{
			width: 6000px;
			height: 500px;
			border-style: inset;
			color: white;
		}
		.bc {
			
			background-color: black;
		font-weight:border;
font-family:gothic;
color: white;
font-size: 500px;
width: 6000px;
text-align:center;
letter-spacing:0.2;
text-transform:uppercase;
position: relative;

		}





	
















